.panel.panel-default.stf-add-device-to-group(ng-show='showAddDeviceToGroup')
  .panel-heading
    h3.panel-title(translate) Add Device to group
  .panel-body
    .stf-add-device-group.clip-board(ng-show='showClipboard')

    nothing-to-show(icon='fa-object-group', message='{{"No devices available to add" | translate}}',
    ng-if='filteredDevices[group.title].length <= 0')

    ul.list-group
      li.list-group-item(ng-repeat='device in filteredDevices[group.title] track by $index')
        a
          i.fa.fa-mobile.fa-fw
          .key-list-details
            .key-list-title(ng-bind='device.model + ", " + device.name')

          button.btn.btn-primary-outline.btn-sm(type='submit', ng-click='addDeviceToGroup(device)')
            i.fa.fa-plus.fa-fw

    error-message(message='{{error}}')
