.panel.panel-default.stf-add-user-group(ng-show='showAdd')
  .panel-heading
    h3.panel-title(translate) Add User group
  .panel-body
    form.form-horizontal.stf-add-user-group.form-user-group(name='usergroupform', ng-submit='addUserGroup(group)')

      .stf-add-user-group.clip-board(ng-show='showClipboard')

      .form-group
        label.control-label(for='user-group-title')
          i.fa.fa-users.fa-fw
          span(translate)  Group

        input(id='user-group-title', type='text', name='userGroupTitle', ng-model='addForm.title', ng-required='true',
        text-focus-select, focus-element='focusAddTitle').form-control

      button.btn.btn-primary-outline.btn-sm.pull-right(type='submit')
        i.fa.fa-plus.fa-fw
        span(translate) Add User Group

    error-message(message='{{error}}')
