.panel.panel-default.stf-add-device-group(ng-show='showAdd')
  .panel-heading
    h3.panel-title(translate) Add Device group
  .panel-body
    form.form-horizontal.stf-add-device-group.form-device-group(name='devicegroupform', ng-submit='addDeviceGroup(group)')

      .stf-add-device-group.clip-board(ng-show='showClipboard')

      .form-group
        label.control-label(for='device-group-title')
          i.fa.fa-object-group.fa-fw
          span(translate)  Group

        input(id='device-group-title', type='text', name='deviceGroupTitle', ng-model='addForm.title', ng-required='true',
        text-focus-select, focus-element='focusAddTitle').form-control

      button.btn.btn-primary-outline.btn-sm.pull-right(type='submit')
        i.fa.fa-plus.fa-fw
        span(translate) Add device group


    error-message(message='{{error}}')
