.panel.panel-default.stf-add-user-to-group(ng-show='showAddUserToGroup')
  .panel-heading
    h3.panel-title(translate) Add user to group
  .panel-body
    .stf-add-user-group.clip-board(ng-show='showClipboard')

    nothing-to-show(icon='fa-object-group', message='{{"No users available to add" | translate}}',
    ng-if='filteredUsers[group.title].length <= 0')

    ul.list-group
      li.list-group-item(ng-repeat='user in filteredUsers[group.title] track by $index')
        a
          i.fa.fa-user.fa-fw
          .key-list-details
            .key-list-title(ng-bind='user.name + ", " + user.email')

          button.btn.btn-primary-outline.btn-sm(type='submit', ng-click='addUserToGroup(user)')
            i.fa.fa-plus.fa-fw

    error-message(message='{{error}}')
